<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">
        <h1>Dodaj Autora</h1>
        <!-- Formularz dodawania autora -->
        <form action="/add_author" method="post" class="form-group">
            <label for="name">Imię i Nazwisko:</label>
            <input type="text" id="name" name="name" class="form-control" required>
            {% if error and error.field == 'name' %}
                <p style="color: red;">{{ error.message }}</p>
            {% endif %}

            <label for="birth_date">Data urodzenia:</label>
            <input type="text" id="birth_date" name="birth_date" class="form-control" required>
            {% if error and error.field == 'birth_date' %}
                <p style="color: red;">{{ error.message }}</p>
            {% endif %}

            <label for="nationality">Narodowość:</label>
            <input type="text" id="nationality" name="nationality" class="form-control" required>
            {% if error and error.field == 'nationality' %}
                <p style="color: red;">{{ error.message }}</p>
            {% endif %}

            <button type="submit" class="btn">Dodaj Autora</button>
        </form>
    </div>
</body>
</html>
