<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">
        <h1>Domowa Biblioteka</h1>

        <a href="{{ url_for('routes.add_author') }}" class="btn">Dodaj Autora</a>
        <a href="{{ url_for('routes.add_book') }}" class="btn">Dodaj Książkę</a>
        
        <h2><a href="{{ url_for('routes.list_books') }}">Książki</a></h2>
        <ul class="list-group">
            {% for book in books %}
            <li class="list-group-item">
                <strong>{{ book.title }}</strong> Autor: {{ book.author.name }}
                <form action="{{ url_for('routes.delete_book', book_id=book.id) }}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-link"><i class="fas fa-trash"></i></button>
                </form>
                <form action="{{ url_for('routes.toggle_book_status', book_id=book.id) }}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="POST">
                    <button type="submit" class="btn btn-link">
                        {% if book.owned %}
                            <i class="fas fa-book-reader"></i>
                        {% elif book.loaned %}
                            <i class="fas fa-book"></i>
                        {% else %}
                            <i class="fas fa-book"></i>
                        {% endif %}
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>
        
        <h2><a href="{{ url_for('routes.list_authors') }}">Autorzy</a></h2>
        <ul class="list-group">
            {% for author in authors %}
            <li class="list-group-item">
                <strong>{{ author.name }}</strong> Książek w Bibliotece: {{ author.books|length }}
                {% if author.books|length == 0 %}
                    <form action="{{ url_for('routes.delete_author', author_id=author.id) }}" method="post" style="display: inline;">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-link"><i class="fas fa-trash"></i></button>
                    </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        
        <h2><a href="{{ url_for('routes.list_loans') }}">Pożyczone</a></h2>
        <ul class="list-group">
            {% for book in loaned_books %}
            <li class="list-group-item">
                <strong>{{ book.title }}</strong> Autor: {{ book.author.name }}
                <i class="fas fa-book-reader"></i>
            </li>
            {% endfor %}

            {% for book in loaned_books_from_list %}
            <li class="list-group-item">
                <strong>{{ book.title }}</strong> Autor: {{ book.author.name }}
                <i class="fas fa-book-reader"></i>
            </li>
            {% endfor %}
        </ul>
        
        <h2><a href="{{ url_for('routes.list_owned') }}">W Bibliotece</a></h2>
        <ul class="list-group">
            {% for book in owned_books %}
                <li class="list-group-item">
                    <strong>{{ book.title }}</strong> Autor: {{ book.author.name }}
                    <i class="fas fa-book"></i>
                </li>
            {% endfor %}

            {% for book in owned_books_from_list %}
                <li class="list-group-item">
                    <strong>{{ book.title }}</strong> Autor: {{ book.author.name }}
                    <i class="fas fa-book"></i>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
