<!-- owned.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Książki w Bibliotece</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">
        <h1>Książki w Bibliotece</h1>
        
        <ul class="list-group library-list">
            {% for book in books %}
                {% if book.owned %}
                    <li class="list-group-item">
                        <strong>{{ book.title }}</strong> Autor: {{ book.author.name }}
                        <i class="fas fa-book book-icon in-library"></i>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="{{ url_for('routes.index') }}" class="btn">Biblioteka</a>
    </div>
</body>
</html>
